.login-container{

}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 5% auto;
}
.form-signin .form-signin-heading {
    margin-bottom: 10px;
}
.form-signin input[type="email"] {
    margin-bottom: 3%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
  .form-signin input[type="password"] {
    margin-bottom: 3%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}
.register-here{
    float: right;
    margin-bottom: 3%;
}

